<div class="row">

    <div class="col-md-12 col-12">
        <div class="card mt-3">
            <div class="card-header">
                <h4 class="float-left">รายการคะแนน <span style="font-size: 20px">(Score Lists)</span></h4>
                <button class="btn btn-info float-right mx-2" (click)="fetchScore()"><i class="fas fa-sync"></i></button>
                <button class="btn btn-primary float-right mb-3" disabled (click)="resetScore()"><i class="fas fa-trash-restore"></i>&ensp;Reset All</button>
            </div>
            <div class="card-body">

                <ul class="list-group">
                    <li class="list-group-item font-weight-bold bg-primary text-white">
                        <span class="row">
                            <div class="col-md-1 text-center mb-1">
                                ลำดับ
                            </div>
                            <div class="col-md-7 text-center mb-1">
                                ชื่อมกุล
                            </div>
                            <div class="col-md-4 text-center mb-1">
                                คะแนนโหวต
                            </div>
                        </span>
                    </li>
                    <li *ngFor="let score of scoresData; let i = index;" class="list-group-item">
                        <span class="row">
                            <div class="col-md-1 text-center">{{ i+1 }}</div>
                            <div class="col-md-7 text-center">
                                <img src="{{ imgURL+score?.ct_img }}" width="32px" height="32px">
                                {{ score.ct_name_th }}
                            </div>
                            <div class="col-md-4 text-center">{{ score.sc_score }}</div>
                        </span>
                    </li>
                </ul>

            </div>
        </div>

    </div>
</div>