<div class="row">

    <div class="col-md-12 col-12">
        <div class="card mt-3">
            <div class="card-header">
                <h4 class="float-left">รายการคะแนน <span style="font-size: 20px">(Score Lists)</span></h4>
                <button class="btn btn-info float-right mx-2" (click)="fetchScore()"><i class="fas fa-sync"></i></button>
                <button class="btn btn-primary float-right mb-3" disabled (click)="resetScore()"><i class="fas fa-trash-restore"></i>&ensp;Reset All</button>
            </div>
            <div class="card-body">

                <ul class="list-group">
                    <li *ngFor="let score of scoresData; let i = index;" class="list-group-item">
                        <span class="row">
                  <div class="col-md-2">{{ i+1 }}</div>
                  <div class="col-md-3">{{ score.ct_name_th }}</div>
                  <div class="col-md-3">{{ score.sc_score }}</div>
                </span>
                    </li>
                </ul>

            </div>
        </div>

    </div>
</div>