<div class="row mt-2 mx-1 d-flex justify-content-center text-center">
    <div class="col-md-12">
        <img src="../../assets/images/sys_logo.png" class="mw-80" width="256px" height="256px">
    </div>
</div>
<div class="row mt-0 mx-1 d-flex justify-content-center">
    <div class="col-md-6 col-lg-4 col-sm-8 col-12">

        <div class="card">
            <div class="card-header bg-light">
                {{ loginText }}
            </div>
            <div class="card-body">

                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-primary text-white"><i class="fas fa-user"></i></span>
                        </div>
                        <input
                            type="text"
                            class="form-control"
                            formControlName="username"
                            placeholder="{{ usernameText }}"
                            [ngClass]="{ 'is-invalid': isSubmitted && formControls.username.errors || isLogin == -1 && isSubmitted }"
                            required
                        >
                    </div>

                    <div class="input-group mb-3" >
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-primary text-white"><i class="fas fa-lock"></i></span>
                        </div>
                        <input
                            type="password"
                            class="form-control"
                            formControlName="password"
                            placeholder="{{ passowrdText }}"
                            [ngClass]="{ 'is-invalid': isSubmitted && formControls.password.errors || isLogin == -1 && isSubmitted }"
                            required
                        >
                    </div>

                    <div *ngIf="isSubmitted && formControls.username.errors && formControls.password.errors">
                        <div *ngIf="formControls.username.errors && formControls.password.errors.required" class="mb-3 text-danger">{{ errorUsernamePasswordRequireText }}</div>
                    </div>

                    <div *ngIf="isSubmitted && formControls.username.errors && !formControls.password.errors">
                        <div *ngIf="formControls.username.errors.required" class="mb-3 text-danger">{{ errorUsernameRequire }}</div>
                    </div>

                    <div *ngIf="isSubmitted && formControls.password.errors && !formControls.username.errors">
                        <div *ngIf="formControls.password.errors.required" class="mb-3 text-danger">{{ errorPasswordRequire }}</div>
                    </div>

                    <div *ngIf="isLogin == -1 && isSubmitted && !formControls.password.errors && !formControls.username.errors" class="mb-3 text-danger">
                        {{ errorIncorrectLogin }}
                    </div>

                    <button class="btn btn-primary btn-block" type="submit">{{ loginText }}</button>
                </form>

            </div>
        </div>
        
    </div>
</div>