<nav class="navbar sticky-top navbar-dark bg-primary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <!-- <span></span> -->
        <i class="fas fa-bars"></i>
    </button>

    <div class="navbar-brand pl-4">
        <!-- <img src="https://via.placeholder.com/100x32" class="d-inline-block align-top"> -->
        Admin Voting System
    </div>

    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="navbarContent">

        <!-- Navbar -->
        <ul class="navbar-nav mr-auto pl-3">

            <!-- Show username -->
            <li class="nav-item text-right">
                <div class="navbar-text py-1 px-2">
                    <span>{{username}}&ensp;<i class="fas fa-user"></i></span>
                </div>
            </li>
            <!-- End show username -->

            <!-- Home -->
            <li class="nav-item" [ngClass]="(viewMode=='main')?'active':''">
                <a class="nav-link" (click)="changeTab('main')" data-toggle="collapse" data-target="#navbarContent">
                    <i class="fas fa-home"></i>&ensp;หน้าหลัก
                </a>
            </li>
            <!-- End home -->

            <!-- Score -->
            <li class="nav-item navbar-text">
                <i class="fas fa-chart-bar"></i>&ensp;คะแนนโหวต
            </li>
            <ul class="navbar-nav mr-auto pl-3" style="font-size: 15px;">
                <li class="nav-item ml-3">
                    <a class="nav-link" href="chart">
                        &ensp;กราฟแสดงคะแนนโหวต (Score Vote Bar chart)
                    </a>
                </li>
                <li class="nav-item ml-3" [ngClass]="(viewMode=='scoreView')?'active':''">
                    <a class="nav-link" (click)="changeTab('scoreView')" data-toggle="collapse" data-target="#navbarContent">
                        &ensp;รายการคะแนนโหวต (Score Vote Lists)
                    </a>
                </li>
            </ul>
            <!-- End core -->

            <!-- Cluster and system -->
            <li class="nav-item navbar-text">
                <i class="fas fa-users"></i>&ensp;มกุลและระบบ
            </li>
            <ul class="navbar-nav mr-auto pl-3" style="font-size: 15px;">
                <li class="nav-item ml-3" [ngClass]="(viewMode=='cluster')?'active':''">
                    <a class="nav-link" (click)="changeTab('cluster')" data-toggle="collapse" data-target="#navbarContent">
                        &ensp;การจัดการมกุล (Cluster management)
                    </a>
                </li>
                <li class="nav-item ml-3" [ngClass]="(viewMode=='system')?'active':''">
                    <a class="nav-link" (click)="changeTab('system')" data-toggle="collapse" data-target="#navbarContent">
                        &ensp;การจัดการระบบ (System management)
                    </a>
                </li>
            </ul>
            <!-- End cluster and system -->

            <!-- User management -->
            <li class="nav-item navbar-text">
                <i class="fas fa-user"></i>&ensp;ผู้ใช้งาน
            </li>
            <ul class="navbar-nav mr-auto pl-3" style="font-size: 15px;">
                <li class="nav-item" [ngClass]="(viewMode=='userView')?'active':''">
                    <a class="nav-link ml-3" (click)="changeTab('userView')" data-toggle="collapse" data-target="#navbarContent">
                        &ensp;แสดงผู้ใช้งานทั้งหมด (Show all users)
                    </a>
                </li>
                <li class="nav-item" [ngClass]="(viewMode=='user')?'active':''">
                    <a class="nav-link ml-3" (click)="changeTab('user')" data-toggle="collapse" data-target="#navbarContent">
                        &ensp;จัดการผู้ใช้งาน (User management)
                    </a>
                </li>
                <li class="nav-item" [ngClass]="(viewMode=='userType')?'active':''">
                    <a class="nav-link ml-3" (click)="changeTab('userType')" data-toggle="collapse" data-target="#navbarContent">
                        &ensp;จัดการประเภทผู้ใช้งาน (User type management)
                    </a>
                </li>
            </ul>
            <!-- End user management -->

            <!-- Logout -->
            <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="modal" data-target="#logoutModal">
                    <i class="fas fa-sign-out-alt"></i>&ensp;ออกจากระบบ
                </a>
            </li>
            <!-- End logout -->

        </ul>
        <!-- End navbar -->

    </div>
    <!-- End collapse -->

</nav>

<div class="container-fliud mx-3">

    <div [ngSwitch]="viewMode">
        <div *ngSwitchCase="'main'">

            <div class="row mb-3 justify-content-center">

                <div class="col-8">

                    <!-- Voting time setting card -->
                    <div class="card mt-3">
                        <div class="card-header">
                            <h4>กำหนดเวลาสำหรับการโหวต (Voting Time Setting)</h4>
                        </div>
                        <div class="card-body">

                            <div class="text-center mb-2">
                                <img src="https://image.flaticon.com/icons/svg/2972/2972531.svg" alt="http://www.flaticon.com/free-icon/sushi_187463#term=sushi&page=1&position=68" data-toggle="tooltip" title="Icon made by Pixel perfect from www.flaticon.com" style="width: 70px">
                            </div>

                            <div class="text-center mb-3">
                                <p>{{ nowDate }}</p>
                                <h1>{{ nowTime }} น.</h1>
                            </div>

                            <div class="row mb-3">

                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label>เริ่มโหวต (Start vote)</label>
                                        <input type="datetime" class="form-control" [(ngModel)]="startVote">
                                    </div>
                                </div>

                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label>สิ้นสุดการโหวต (End vote)</label>
                                        <input type="datetime" class="form-control" [(ngModel)]="endVote">
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="card-footer">
                            <button class="btn btn-success btn-lg btn-block" (click)="setTime()">กำหนดเวลา</button>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <app-user-management *ngSwitchCase="'user'"></app-user-management>
        <app-user-view *ngSwitchCase="'userView'"></app-user-view>
        <app-user-type-management *ngSwitchCase="'userType'"></app-user-type-management>
        <app-score-view *ngSwitchCase="'scoreView'"></app-score-view>
        <app-cluster-management *ngSwitchCase="'cluster'"></app-cluster-management>
        <app-system-management *ngSwitchCase="'system'"></app-system-management>
    </div>

</div>

<modal-logout></modal-logout>