<nav class="navbar navbar-expand-md sticky-top navbar-dark bg-primary">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
    </button>

    <div class="navbar-brand">
        <div class="d-inline-block align-top"><i class="fas fa-tools fa-2x"></i></div>
        <span class="d-md-inline-block d-none pl-2 pt-1">Admin Voting System</span>
    </div>

    <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav mr-auto">
            <!-- Home -->
            <li class="nav-item" [ngClass]="(viewMode=='main')?'active':''">
                <a class="nav-link" role="button" (click)="changeTab('main')" data-toggle="collapse" data-target="#navbarContent">
                    <i class="fas fa-home"></i><span class="d-md-none d-inline-block">&ensp;หน้าหลัก</span>
                </a>
            </li>
            <!-- End home -->

            <!-- Score -->
            <li class="nav-item dropdown" [ngClass]="(viewMode=='scoreView')?'active':''">
                <a class="nav-link dropdown-toggle" role="button" id="score-man" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-chart-bar"></i>&ensp;คะแนนโหวต
                </a>
                <div class="dropdown-menu" aria-labelledby="score-man">
                    <a class="dropdown-item" href="chart">
                        <p class="mb-0">กราฟแสดงคะแนนโหวต</p>
                        <p class="small text-muted mb-0">(Score Vote Bar chart)</p>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" role="button" (click)="changeTab('scoreView')">
                        <p class="mb-0">รายการคะแนนโหวต</p>
                        <p class="small text-muted mb-0">(Score Vote Lists)</p>
                    </a>
                </div>
            </li>
            <!-- End Score -->


            <!-- Cluster and system -->
            <li class="nav-item dropdown" [ngClass]="(viewMode=='cluster' || viewMode=='system')?'active':''">
                <a class="nav-link dropdown-toggle" role="button" id="ct-sys-man" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-users"></i>&ensp;มกุลและระบบ
                </a>
                <div class="dropdown-menu" aria-labelledby="ct-sys-man">
                    <a class="dropdown-item" role="button" (click)="changeTab('cluster')">
                        <p class="mb-0">การจัดการมกุล</p>
                        <p class="small text-muted mb-0">(Cluster management)</p>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" role="button" (click)="changeTab('system')">
                        <p class="mb-0">การจัดการระบบ</p>
                        <p class="small text-muted mb-0">(System management)</p>
                    </a>
                </div>
            </li>
            <!-- End Cluster and system -->

            <!-- User management -->
            <li class="nav-item dropdown" [ngClass]="(viewMode=='userView' || viewMode=='user' || viewMode=='userType')?'active':''">
                <a class="nav-link dropdown-toggle" role="button" id="ct-sys-man" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user"></i>&ensp;ผู้ใช้งาน
                </a>
                <div class="dropdown-menu" aria-labelledby="ct-sys-man">
                    <a class="dropdown-item" role="button" (click)="changeTab('userView')">
                        <p class="mb-0">แสดงผู้ใช้งานทั้งหมด</p>
                        <p class="small text-muted mb-0">(Show all users)</p>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" role="button" (click)="changeTab('user')">
                        <p class="mb-0">จัดการผู้ใช้งาน</p>
                        <p class="small text-muted mb-0">(User management)</p>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" role="button" (click)="changeTab('userType')">
                        <p class="mb-0">จัดการประเภทผู้ใช้งาน</p>
                        <p class="small text-muted mb-0">(User type management)</p>
                    </a>
                </div>
            </li>
            <!-- End User management -->

            <!-- Logout -->
            <li class="nav-item d-block d-md-none">
                <a class="nav-link" role="button" (click)="changeTab('main')" data-toggle="collapse" data-target="#navbarContent">
                    <i class="fas fa-sign-out-alt"></i>&ensp;ออกจากระบบ
                </a>
            </li>
            <!-- End Logout -->

        </ul>
    </div>

    <div class="dropdown ml-auto d-none d-md-block">
        <button class="btn btn-outline-light" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user"></i><span class="d-md-inline-block d-none">&ensp;{{username}}</span>
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal"><i class="fas fa-sign-out-alt"></i>&ensp;ออกจากระบบ</a>
        </div>
    </div>

</nav>

<div class="container">

    <div [ngSwitch]="viewMode">
        <div *ngSwitchCase="'main'">

            <div class="row mb-3 justify-content-center">

                <div class="col-12 col-md-8">

                    <!-- Voting time setting card -->
                    <div class="card mt-3">
                        <div class="card-header">
                            <h4>กำหนดเวลาสำหรับการโหวต (Voting Time Setting)</h4>
                        </div>
                        <div class="card-body">

                            <div class="text-center mb-2">
                                <img src="https://image.flaticon.com/icons/svg/2972/2972531.svg" alt="http://www.flaticon.com/free-icon/sushi_187463#term=sushi&page=1&position=68" data-toggle="tooltip" title="Icon made by Pixel perfect from www.flaticon.com" style="width: 70px">
                            </div>

                            <div class="text-center mb-3">
                                <p>{{ nowDate }}</p>
                                <h1>{{ nowTime }} น.</h1>
                            </div>

                            <div class="row mb-3">

                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label>เริ่มโหวต (Start vote)</label>
                                        <input type="datetime" class="form-control" [(ngModel)]="startVote">
                                    </div>
                                </div>

                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label>สิ้นสุดการโหวต (End vote)</label>
                                        <input type="datetime" class="form-control" [(ngModel)]="endVote">
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="card-footer">
                            <button class="btn btn-success btn-lg btn-block" (click)="setTime()">กำหนดเวลา</button>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row mb-2 justify-content-center">
                <div class="card">
                    <div class="card-body">
                        <button (click)="changeTab('scoreView')" class="btn-lg btn-info">แสดงคะแนน</button>
                    </div>
                </div>
            </div>

        </div>
        <app-user-management *ngSwitchCase="'user'"></app-user-management>
        <app-user-view *ngSwitchCase="'userView'"></app-user-view>
        <app-user-type-management *ngSwitchCase="'userType'"></app-user-type-management>
        <app-score-view *ngSwitchCase="'scoreView'"></app-score-view>
        <app-cluster-management *ngSwitchCase="'cluster'"></app-cluster-management>
        <app-system-management *ngSwitchCase="'system'"></app-system-management>
    </div>

</div>

<modal-logout></modal-logout>