<div class="row mb-3">

  <div class="col-12">

    <!-- user-management card -->
    <div class="card mt-3">
      <div class="card-header">
        <h4>Cluster Management</h4>
        <button class="btn btn-info float-left" (click)="fetchCluster()"><i class="fas fa-sync"></i></button>
        <button data-toggle="modal" data-target="#insert_cluster" class="btn btn-primary float-right"><i class="fas fa-plus"></i></button>
      </div>
      <div class="card-body">

        <ul class="list-group">
          <li *ngFor="let cluster of clustersData; let i = index;" class="list-group-item">
            <span class="row">
              <div class="col-md-1 col-12 text-center mb-1">{{ i+1 }}</div>
              <div class="col-md-2 col-12 text-center mb-1">
                <img src="{{ imgURL+cluster?.ct_img }}" width="64px" height="64px">
              </div>
              <div class="col-md-3 col-12 text-center">{{ cluster.ct_name_th }} ({{ cluster.ct_name_en }})</div>
              <div class="col-md-2 col-12 text-center">{{ cluster.sys_name_th }} ({{ cluster.sys_name_en }})</div>
              <div class="col-md-2 col-12 text-center mb-1" [style.color]="cluster.ct_color_code">{{ cluster.ct_color_code }}</div>
              <div class="col-md-1 col-6 text-center">
                  <button (click)="editCluster(i, color_showing)" data-toggle="modal" data-target="#insert_cluster" class="btn btn-warning"><i class="fas fa-pen"></i></button>
                </div>
              <div class="col-md-1 col-6 text-center">
                <button (click)="deleteCluster(i, cluster.ct_id)" class="btn btn-danger"><i class="fas fa-times"></i></button>
              </div>
            </span>
          </li>
        </ul>

      </div>
    </div>

  </div>

</div>

<div class="modal" tabindex="-1" role="dialog" id="insert_cluster">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title">insert_cluster</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">

            <input type="hidden" [(ngModel)]="ct_id">

            <div class="form-group">
              <label>Cluster index (start at 0)</label>
              <input type="number" class="form-control" [(ngModel)]="ct_sequence">
            </div>
            <div class="form-group">
              <label>Name TH</label>
              <input type="text" class="form-control" [(ngModel)]="ct_name_th">
            </div>
            <div class="form-group">
              <label>Name EN</label>
              <input type="text" class="form-control" [(ngModel)]="ct_name_en">
            </div>
            <div class="form-group">
              <label>System</label>
              <select class="form-control" [(ngModel)]="sm_sys_id">
                <option *ngFor="let system of systemsData; let i = index;" value="{{ system.sys_id }}" [selected]="i == 0">{{ system.sys_name_th }} {{ system.sys_name_en }}</option>
              </select>
            </div>
            <div class="form-group">
              <label>Logo Image</label>
              <div *ngIf="ct_img_preview != null">
                <img src="{{ ct_img_preview }}" width="64px" height="64px">
              </div>
              <div *ngIf="ct_img_preview == null">
                <input type="file" class="form-control-file" id="imgUpload" (change)="fileChangeListener($event.target.files)">
              </div>
              <button class="btn btn-success" (click)="uploadImage()" [disabled]="canUpload == false">Upload Image</button>
              <button class="btn btn-danger" (click)="deleteImage()" [disabled]="isUploaded == false">Remove Image</button>
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" #color_showing style="color: #ffffff;"><i class="fas fa-circle"></i></span>
              </div>
              <input type="text" class="form-control" placeholder="Color Hex Code" [(ngModel)]="ct_color" (keyup)="show(color_showing)">
            </div>

          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Cancel</button>
              <button type="button" class="btn btn-success" (click)="saveCluster()" data-dismiss="modal">Save</button>
          </div>
        </div>
    </div>
</div>