<!-- For voting  -->
<div class="row">
    <div class="col-10 text-left">
        <h5 class="px-3 pt-3">
            🏆 {{ nowDate }} เวลา {{ nowTime }} น. <span style="font-size: 15px"> </span>
        </h5>
    </div>
    <div class="col-2 text-right">
        <a href="admin" class="btn btn-light">
            <i class="fas fa-chevron-left"></i>
        </a>
        <button class="btn btn-light" (click)="updateScore()"><i class="fas fa-sync"></i></button>
    </div>
</div>

<div class="row">
    <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions" class="m-auto" style="width: 98%; height: 90vh; display: block;">
    </highcharts-chart>
</div>