<nav class="navbar navbar-expand sticky-top navbar-dark bg-primary mb-3 mb-sm-3 mb-md-5">

    <div class="navbar-brand mr-auto">
        <!-- <img src="https://via.placeholder.com/100x32" class="d-inline-block align-top"> -->
        <div class="d-inline-block align-top"><i class="fas fa-poll fa-2x"></i></div>
        <span class="d-md-inline-block d-none pl-2 pt-1">{{ systemNameText }}</span>
    </div>


    <div class="navbar-text px-2 mr-auto mr-sm-auto mr-md-3">
        <h2 class="text-white align-middle mb-0">
            {{ hasScore }}&ensp;<i class="fas fa-coins"></i>
            <!-- <span *ngIf="hasScore > 1">{{ multiPointText }}</span>
            <span *ngIf="hasScore <= 1">{{ pointText }}</span> -->
        </h2>
    </div>

    <div class="dropdown">
        <button class="btn btn-outline-light" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user"></i><span class="d-md-inline-block d-none">&ensp;{{username}}</span>
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal"><i class="fas fa-sign-out-alt"></i>&ensp;{{ logoutText }}</a>
        </div>
    </div>

</nav>

<div *ngIf="canVote == 1">
    <div class="container">
        <app-vote (hasScoreOutput)="setHasScoreParent($event)"></app-vote>
    </div>
</div>
<div *ngIf="canVote == 0">

    <div *ngIf="isEndVote == false" class="row my-5 py-5 mx-1 d-flex justify-content-center">
        <div class="col-md-8 col-lg-6 col-sm-10 col-12">

            <div class="card border-primary">
                <div class="card-body text-center text-primary">
                    <h1 class="mb-3"><i class="fas fa-hourglass-start"></i></h1>
                    <h2 class="mb-3">การโหวตจะเริ่มใน</h2>
                    <h4>{{ countDownTimer }}</h4>
                </div>
            </div>
            <small class="text-primary">* หากถึงเวลาโหวตแล้ว แต่ระบบไม่ตอบสนอง กรุณาโหลดหน้าเว็บใหม่</small>

        </div>
    </div>

    <div *ngIf="isEndVote == true" class="row my-5 py-5 mx-1 d-flex justify-content-center">
        <div class="col-md-8 col-lg-6 col-sm-10 col-12">

            <div class="card border-danger">
                <div class="card-body text-center text-danger">
                    <h1 class="mb-3"><i class="fas fa-hourglass-end"></i></h1>
                    <h2>การโหวตได้สิ้นสุดลงแล้ว</h2>
                </div>
            </div>

        </div>
    </div>

</div>
<div *ngIf="canVote == -1" style="position: fixed; top: calc(50% - 3rem); left: calc(50% - 3rem)">

    <div class="spinner-border text-primary" style="width: 6rem; height: 6rem; border-width: 0.5rem;" role="status">
        <span class="sr-only">กำลังโหลด...</span>
    </div>
    <!-- <div class="loader">Loading...</div> -->

</div>

<modal-logout></modal-logout>

<notifier-container></notifier-container>