<div class="container-fliud mx-3">
  <div class="row">
      <div class="col-4 text-left">
        <h3 class="px-3 pt-3">{{ boardName }}</h3>
      </div>
      <div class="col-8 text-right">
          <button class="btn btn-light" (click)="fetch_leaderboard()"><i class="fas fa-star"></i></button>
          <button class="btn btn-light" (click)="fetch_dashboard()"><i class="fas fa-layer-group"></i></button>
          <button class="btn btn-light" (click)="sync()"><i class="fas fa-sync"></i></button>
          <a href="{{ rootPath }}/scum" class="btn btn-light"><i class="fas fa-chevron-left"></i></a>
      </div>
    </div>
    
    <div class="row mt-2 mx-1">
    
        <div *ngFor="let cluster of clusterData; let i = index;" class="col-md-6 col-lg-6 mb-3">
          <div class="card dashboard-card"  [style.border-color]="cluster.ct_color_code" style="border: 2px solid;">
            <div class="card-body">
    
              <div class="row">
                <div class="col-lg-2 col-md-3 col-12 text-center mb-3">
                    <img src="{{ imgURL+cluster?.ct_img }}" class="m-auto" width="64px" height="64px">
                </div>
                <div class="row col-lg-10 col-md-9 col-12">
                  <div class="col-lg-7 col-md-12 col-12">
                    <h3 class="text-md-left text-center mt-1">{{ cluster.ct_name_th }}<span *ngIf="cluster.rank == 0 || cluster.rank == 1 || cluster.rank == 2 || cluster.rank == 9" style="font-size: 3rem;">&ensp;{{ rank[cluster.rank] }}</span></h3>
                  </div>
                  <div class="col-lg-5 col-md-12 col-12">
                      <h3 class="text-md-right text-center pt-3">{{ numberWithCommas(cluster.total_money) }} บาท</h3>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      
    </div>
</div>
