.dashboard-card:hover {
    cursor: pointer;
    background-color: rgb(207, 214, 248);
}

.modal-dialog {
    overflow-y: initial !important
}

.modal-body {
    height: 600px;
    overflow-y: auto;
}